#mypage-writing {
	color: orangered !important;
}

#mypage-content-wrapper {
	margin-top: 180px;
	padding-left: 0;
}

/* 작성한 글 CSS */
#table-container {
	margin-left: 0;
}

#list-table tr>td:first-child, thead>tr>th:first-child {
	text-align: center;
	width: 10%;
}