#mypage-1to1-question{
  color: orangered !important;
}

#mypage-content-wrapper {
  margin-top: 180px;
}

/* 1:1문의 CSS */

#list-table{
  width : 100%;
  /* width: 1270px; */
}

#table-container {
  width: 1100px;
  padding-left: 0;
  margin-left: 0;
}

#list-table tr>td:nth-child(2n), thead>tr>th:nth-child(2n) {
	text-align: center;
	width: 25%;
}	
